# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/.vs
/Domain/obj/Debug/netstandard2.1/Domain.assets.cache


Clients 
Locations - belongs to one client
LocationList - links many locations together.
Employees - belong to one client, and one location.
