<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/mylocations']">Locations</a></li>
    <li class="breadcrumb-item active" aria-current="page">Access Lists</li>
  </ol>
</nav>
    
<div class="card">
  <div class="card-header"><h3>Access Lists</h3></div>
  <div class="card-body">
      
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let accessList of accessLists">
          <th scope="row">{{ accessList.id }}</th>
          <td><a [routerLink]="['/accessListEdit', accessList.id]">{{ accessList.name }}</a></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>