<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Dashboard</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/mylocations']">Locations</a></li>
    <li class="breadcrumb-item active" aria-current="page">Access Lists</li>
  </ol>
</nav> -->
    
<div class="container">
  
  <h4>Access Lists</h4>

  <table class="table table-sm table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th style="width: 10%;" scope="col">#</th>
        <th style="width: 70%;" class="text-center" scope="col">Name</th>
        <th style="width: 20%;" class="text-center" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accessList of accessLists">
        <td scope="row">{{ accessList.id }}</td>
        <td class="text-center">{{ accessList.name }}</td>
        <td class="text-center"><a class="btn btn-info btn-sm" [routerLink]="['/accessListEdit', accessList.id]">Edit</a></td>
      </tr>
    </tbody>
  </table>

</div>