    
<div class="container">
  
  <h4>Access Lists</h4>

  <table class="table table-sm table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Users</th>
        <th scope="col">Locations</th>
        <th class="text-center" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accessList of accessLists">
        <td scope="row">{{ accessList.id }}</td>
        <td>{{ accessList.name }}</td>
        <td>
          <div *ngFor="let user of accessList.users">
            <a class="text-info linkborder" [routerLink]="['/user-edit', user.id]">{{ user.fullName }}</a>
          </div>
        </td>
        <td>
          <div *ngFor="let location of accessList.locations">
            <a class="text-info linkborder">{{ location.name }}</a>
          </div>
        </td>
        <td class="text-center"><a class="btn btn-info btn-sm" [routerLink]="['/accessListEdit', accessList.id]"><i class="fa fa-pencil-square-o"></i></a></td>
      </tr>
    </tbody>
  </table>

</div>