
<div class="container">

  <h4>Locations</h4>

  <table *ngIf="dataLoaded" class="table table-sm table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Client Name</th>
        <th scope="col">Access Lists</th>
        <th class="text-center" scope="col">Users</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations">
        <th scope="row">{{ location.id }}</th>
        <td>{{ location.name }}</td>
        <td>{{ location.client.name }}</td>
        <td>
          <div *ngFor="let accessList of location.accessListDtos">
            <a class="text-info linkborder" [routerLink]="[AccessListEditPage, accessList.id]">{{ accessList.name }}</a>
          </div>
        </td>
        <td class="text-center">
          <div *ngFor="let user of location.users">
            <a class="text-info linkborder" [routerLink]="[UserEditPage, user.id]">{{ user.fullName }}</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="!dataLoaded">
  <i class="fa fa-refresh fa-spin fa-3x fa-fw mr-2"></i>Loading Locations...
</div>