
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">

      <a [routerLink]="['/']"><img src="../assets/images/companyNameCropped.PNG" style="height: 65px;" /></a>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/user-list']"><i class="fa fa-users mr-1" aria-hidden="true"></i>Users</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/observables-test']">Observables</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/locations']"><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Locations</a>
          </li>
          <li class="nav-item dropdown">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-secondary" id="actionsDropDown" ngbDropdownToggle><i class="fa fa-cog" aria-hidden="true"></i></button>
              <div ngbDropdownMenu aria-labelledby="actionsDropDown">
                <button ngbDropdownItem (click)="onExitImpersonationClicked()"><i class="fa fa-address-card mr-2" aria-hidden="true"></i>Exit Impersonation</button>
                <button ngbDropdownItem (click)="onLogoutClicked()"><i class="fa fa-sign-out mr-1" aria-hidden="true"></i>Logout</button>
                <div class="dropdown-divider"></div>
                <a ngbDropdownItem [routerLink]="['/mylogin']"><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Login</a>
                <a ngbDropdownItem [routerLink]="['/mylogin']"><i class="fa fa-wrench mr-2" aria-hidden="true"></i>My Profile</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
