
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h3>View Users</h3>
      </div>
      <div class="card-body">
        <p>
          The view users page is a very important page. If you are <strong>impersonating</strong> someone you will see only the users that belong to that client.
          Click on the link below to navigate to that page.
        </p>
        <div class="text-right">
          <a class="btn btn-outline-secondary btn-lg" [routerLink]="['/user-list']" role="button" aria-disabled="true">Users</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h3>View Locations</h3>
      </div>
      <div class="card-body">
        <p>View locations here. This is an important thing. Really it is.</p>
        <div class="text-right">
          <a class="btn btn-outline-secondary btn-lg" [routerLink]="['/locations']" role="button" aria-disabled="true">Locations</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3>Profile</h3>
      </div>
      <div class="card-body">
        <p>The profile page is important. It will help you sort out if you are <strong>impersonating</strong> or not.</p>
        <div class="text-right">
          <a class="btn btn-outline-secondary btn-lg" [routerLink]="['/profile']" role="button" aria-disabled="true">Profile</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3>Application Tracker</h3>
      </div>
      <div class="card-body">
        <p>View Some things here :</p>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-primary">Login</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3>Application Tracker</h3>
      </div>
      <div class="card-body">
        <p>View Some things here :</p>
        <div class="text-right">
          <button type="button" class="btn btn-lg btn-outline-primary">Login</button>
        </div>
      </div>
    </div>
  </div>
</div>
