
<div class="container">

  <div class="row">
    
    <div class="col-sm-4">&nbsp;</div>
    <div class="col-sm-4">

      <h4>Sign In</h4>

      <div class="p-3 border border-primary rounded">
    
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="loginInfo.email" class="form-control" id="email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" [(ngModel)]="loginInfo.password" class="form-control" id="password">
        </div>

        <div class="text-right mt-4">
          <button (click)="onLoginClicked()" class="btn btn-info btn-block">Sign In</button>
        </div>
      </div>

    </div>
    <div class="col-sm-4">&nbsp;</div>
  </div>

</div>