
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/']">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Profile</li>
  </ol>
</nav>
  
<div class="alert alert-info">
  <div>Welcome, {{ profileData.loggedInUser.fullName }}.</div>
  <div *ngIf="profileData.isImpersonating">You are <i>impersonating</i><strong> {{ profileData.impersonatingUser.fullName }}</strong></div>
</div>

<div *ngIf="profileData.isImpersonating" class="row mt-3">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h3>Basic Info for {{ profileData.impersonatingUser.firstName }}</h3></div>
      <div class="card-body">

        <div class="form-group row">
          <label for="impersonatefirstName" class="col-sm-3 col-form-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" readonly [(ngModel)]="profileData.impersonatingUser.firstName" class="form-control" id="impersonatefirstName">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="impersonatelastName" class="col-sm-3 col-form-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" readonly [(ngModel)]="profileData.impersonatingUser.lastName" class="form-control" id="impersonatelastName">
          </div>
        </div>

        <div class="form-group row">
          <label for="impersonateClientName" class="col-sm-3 col-form-label">Client</label>
          <div class="col-sm-9">
            <input type="text" readonly [(ngModel)]="profileData.impersonatingClient.clientName" class="form-control" id="impersonateClientName">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h3>Locations for {{ profileData.impersonatingUser.firstName }}</h3></div>
      <div class="card-body">
        <ol><li *ngFor="let location of profileData.impersonatingUserLocations">{{ location.name }}</li></ol>
        <div *ngIf="profileData.impersonatingUserLocations.length === 0" class="alert alert-info">You don't have any locations.</div>
      </div>
    </div>
  </div>
  
</div>

<div class="row mt-3">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h3>Basic Info </h3></div>
      <div class="card-body">

        <div class="form-group row">
          <label for="loggedInfirstName" class="col-sm-3 col-form-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" readonly [(ngModel)]="profileData.loggedInUser.firstName" class="form-control" id="loggedInfirstName">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="loggedInlastName" class="col-sm-3 col-form-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" readonly [(ngModel)]="profileData.loggedInUser.lastName" class="form-control" id="loggedInlastName">
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><h3>My Locations</h3></div>
      <div class="card-body">
        <ol><li *ngFor="let location of profileData.loggedInUserLocations">{{ location.name }}</li></ol>
        <div *ngIf="profileData.loggedInUserLocations.length === 0" class="alert alert-info">You don't have any locations.</div>
      </div>
    </div>
  </div>
  
</div>
