
<div class="container">

  <h4>Edit User</h4>

  <h6>Basic Info</h6>
  
  <ul>
    <li>FirstName : {{ user.firstName }}</li>
    <li>LastName : {{ user.lastName }}</li>
  </ul>

  <h6>Locations</h6>

  <ol>
    <li *ngFor="let location of user.locations">
      {{ location.name }}
    </li>
  </ol>

  <h6>Access Lists</h6>

  <ol>
    <li *ngFor="let accessList of user.accessLists">
      {{ accessList.name }}
    </li>
  </ol>

  <h6>Roles</h6>

  <ul>
    <li *ngFor="let role of user.roles">
      {{ role.name }}
    </li>
  </ul>

</div>
