/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.alert h3 {
  margin-bottom: 0;
}

body {
  /* background-color: #1E4A6F; */
}

.containerColor {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

::selection { 
  background: peachpuff;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item {
  color: black;
}

.breadcrumb-item.active {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

.breadcrumb-item a {
  color: black;
}

header {
  background-color: #1E4A6F;
  /* border-bottom: 1px solid black; */
  -moz-box-shadow:    0px 0px 5px 5px #ccc;
  -webkit-box-shadow: 0px 0px 5px 5px #ccc;
  box-shadow:         0px 0px 5px 5px #ccc;
}

h4 {
  margin-bottom: 40px;
  margin-top: 30px;
}